#welcome {
    margin: 10px;
}

.textDiv {
    margin: 40px;
}

#panel-welcome {
    padding: 5px;
}

/* =============== NAV ==================*/

.container-fluid {
    padding: 0;
}

.container {
    padding: 0;
    margin: 0 20px 0 20px;
    width: auto;
}

/* =============== FOOTER ===============*/

.topHalfCircle {
    height: 30px;
    width: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background: rgba(11, 61, 114, .7);
    margin: auto;
    margin-top: 80px;
    margin-bottom: 0;
    text-align: center;
}

#arrowFooter {
    font-size: 23px;
    color: white;
    margin: auto;
    margin-top: 7px;
}

footer {
    margin-top: 0;
    height: 80px;
    background-color: #333;
}

/* =============== BOX ALEATOIRE =============== */

.box-wrapper-inner {
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;

    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
}

.box {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 0;

    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.bottomButton {
    border-radius: 0;
    font-size: 20px;
    margin-bottom: 3px;
    margin-right: 2px;
    margin-left: 2px;
}

.label-warning {
    background-color: white;
    color: black;
}

.label-warning:hover {
    background-color: #ef7439;
    color: white;
}

.panel-default > .panel-heading {
    border-radius: 0;
    background-color: rgba(11, 61, 114, .7);
}

.panel-title {
    color: white;
}

.panel-body {
    height: 500px;
    overflow: auto;
}

@media (max-width: 620px) {
    #welcome {
        margin: 5px 10px 5px 10px;
    }

    .textDiv {
        margin: 10px;
    }

    .box-wrapper-inner {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        margin: 5px 10px 5px 10px;
    }

    .box {
        width: 100%;
        margin: auto;
        margin-top: 10px;
    }
}

/* TABLE */
.pagination > li > a, .pagination > li > span {
    line-height: 1.42857;
    position: relative;
    float: left;
    margin-left: -1px;
    padding: 6px 12px;
    text-decoration: none;
    color: #0b3d72;
    border: 1px solid #ddd;
    background-color: #fff;
}

table {
    font-size: .85em;
}

#searchTFoot {
    width: 100%;
}

/* CHART */
.bar {
    stroke: #FFF;
}

path {
    stroke: #FFF;
}

.slice text {
    font-size: 11pt;
    font-family: Arial;
    stroke-width: 0;
}

.legend rect {
    fill: white;
    stroke: black;
}

tbody tr.selected {
    background-color: #B0BED9 !important;
}
