h1 {
    color: #ef7439;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}

h2 {
    color: #0b3d72;
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
}

/* =============== PANEL =============== */

.container {
    margin: 0;
}

.panel {
    margin: 0;
}

.panel-content-visualisation {
    padding: 25px;
}

#content-page {
    margin: 0;
    margin: 20px 100px 20px 100px;
    padding: 0;
}

.nav-visualisation > li {
    float: none;
    display: inline-block;
    zoom: 1;
}

.nav-visualisation {
    text-align: left;
}

#second-title-page {
    margin-top: 50px;
}

@media (max-width: 1000px) {
    #content-page {
        margin: 0;
        margin: 20px 10px 20px 10px;
        padding: 0;
    }
}

/* =============== SOCIAL NETWORK =============== */

#rs {
    display: inline;
}

.rs {
    float: left;
    margin-right: 10px;
}

/* =============== COMMENTS =============== */

.comment-body {
    margin-left: 50px;
}

.comment-heading {
    display: block;
    width: 100%;
}

.user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.input-group-addon {
    padding: 2px;
}

/* =============== BOX VISU =============== */

#description-page {
    margin-top: 20px;
}

.box-visu {
    margin: 10px;
    width: 100%;
    overflow: auto;

    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

#box2 {
    margin: 0;
    min-height: 500px;
}

#box3 {
    margin: 0;
    height: 500px;
}

.form-control {
    padding: 0;
    height: 25px;
}

select.input-sm {
    height: 25px;
}

@media (max-width: 900px) {
    .box-wrapper-inner {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }

    .box-visu {
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
}

/* TABLE */
#searchTFoot {
    width: 100%;
}

#my_table_wrapper > .row {
    margin-right: 0px;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info {
        text-align: left;
    }

    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }
}

/* MAP */
#map {
    width: 100%;
    height: 100%;
    margin: 0;
}

.chart {
    border: solid 1px red;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    margin: 0 auto;
}

.bar {
    fill: purple;
    shape-rendering: crispEdges;
}

.bar-label {
    fill: #000;
    text-anchor: middle;
    font-size: 24px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;

}

.gridline path,
.gridline line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.slice text {
    font-size: 10pt;
    font-family: Arial;
}

.selectGraph {
    float: left;
}

.button-icone {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    opacity: 0.5;
}

/* SELECT LIST DATE */
.select-list {
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
}

.select-list-select {
    width: 200px;
}

.select-list-text {
    margin-right: 10px;
}

.option-panel {
    margin-bottom: 20px;
    margin-top: 20px;
}
